@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.contact-us-landing-page {
    font-family: 'Montserrat', sans-serif !important;
    * {
        font-family: 'Montserrat', sans-serif !important;
    }
}

.no-border {
    border: 0;
}

.company-info {
    height: 100%;
    padding: 0 0 0 30px;
    border-left: 1px solid #666;
    color: #666;
}

.single-info + .single-info {
    margin-top: 80px;
}

.single-info .single-info-head {
    text-align: center;
    margin: 0 0 20px;
}

.single-info .single-info-head h3 {
    color: green;
    font-weight: 800;
    text-transform: uppercase;
}

.contact-us-landing-page .form-control-label {
    font-weight: 700;
}